.root-node, .prerequisite-node {
    background-color: #4C566A;
    border-radius: 5px;
    display: inline-grid;
    padding: 5px;
    text-align: center;
}

.root-label, .course-button {
    color: #2E3440;
    background-color: #FFFFFF;
    margin: 2px;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

.course-button {
    cursor: pointer;
}

.course-button:hover {
    background-color: #D8DEE9;
}

.course-button.disabled {
    color: #81A1C1;
    background-color: #ECEFF4;
    cursor: default;
}


.root-node label {
  display: block;
  color: #777;
  font-size: 12px;
}

.prerequisite-node {
    flex-grow: 0;
    flex-basis: 0;
}
