h1, h2 {
    padding: 0 30px;
}

p {
    padding: 0 50px;
}

.prerequisite-list, .successor-list {
    list-style-type: none;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.prerequisite-course.disabled a {
    pointer-events: none;
    color: #81A1C1;
}


.child-nodes {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
